body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
.ticket-item {
  border: 1px solid #eaeaea;
  padding: 10px ;
  margin: 20px ;
}

.ticket-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  font-size: 16px;
}

.ticket-summary::-webkit-details-marker {
  display: none; 
}

.ticket-item[open] .icon {
 transform: rotate(180deg);
}

.icon {
  font-size: 20px;
  font-weight: 100;
  transition: transform 0.2s ease;
}
